<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'Ordenes/css/style.css' %}">
</head>

<body>
    <header>

    </header>
    <main>
        <aside>
            <div class="cont-main-side">
                <ul>
                    <li><a href="#"><span class="cont-menu"><img src="" alt=""></span><span>SRG</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="{% static 'Ordenes/img/dashboard.svg' %}"
                                    alt=""></span><span>Dashboard</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="{% static 'Ordenes/img/ordenes.svg' %}" alt=""></span><span>Ordenes</span></a>
                    </li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="{% static 'Ordenes/img/usuarios.svg' %}"
                                    alt=""></span><span>Usuarios</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="{% url 'config_main' %}"><span class="span1"><img
                                    class="side-menu-icon" src="{% static 'Ordenes/img/settings.svg' %}"
                                    alt=""></span><span>Configuracion</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="{% static 'Ordenes/img/stock.svg' %}" alt=""></span><span>Stock</span></a></li>

                </ul>
            </div>
        </aside>
        <section class="contPrincipal" id="contPrincipal">
            {% block bloque-main %}

            {% endblock %}
        </section>
    </main>
    <footer>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>