{% extends 'base_principal.html' %}
{% load static %}

{% block titulo %}Alarmas | Nuevo producto{% endblock %}

{% block bloque-main %}

<div class="cont-config-edit">
    <div class="titulo">
        <h2>Configuración | Nuevo producto Alarmas</h2>
    </div>
    <section>
        <form class="formulario" action="" method="POST">
            {% csrf_token %}
            
            <label for="productoAlarmas"><strong>Nuevo Producto Alarmas:</strong></label>
            <input class="campo-input" type="text" name="productoAlarmas" id="productoAlarmas">
            <input class="boton-comun enviar" type="submit">
            
        </form>
    </section>
</div>


{% endblock %}