{% extends 'base_principal.html' %}
{% load static %}

{% block titulo %}Audio | Motivo{% endblock %}

{% block bloque-main %}
<div class="cont-config-edit">
    <div class="titulo">
        <h2>Configuración | Listado Audio - Motivo</h2>
    </div>
    <section>
    <button class="boton-comun agregar">
       <a href="{% url 'add_item_audio_motivo' %}">Nuevo</a> 
    </button>
    </section>
    <table class="table table-hover tabla-personalizada">
      <thead class="redondeada">
        <tr class=" table table-secondary">
          <th scope="col">#</th>
          <th scope="col">Producto</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        {% for n in audio_motivo %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{n.motivoAudio}}</td>
          <td><a href="{% url 'del_item_audio_motivo' n.id %}"><img class="side-menu-icon bordeaux" src="{% static 'Ordenes/img/trash.svg' %}"
            alt="imagen"></a><a href="{% url 'edit_item_audio_motivo' n.id %}"><img class="side-menu-icon oscuro" src="{% static 'Ordenes/img/edit.svg' %}"
              alt="imagen"></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>


{% endblock %}