{% extends 'base_principal.html' %}
{% load static %}

{% block titulo %}Audio | Nuevo estado{% endblock %}

{% block bloque-main %}

<div class="cont-config-edit">
    <div class="titulo">
        <h2>Configuración | Nuevo Estado Audio</h2>
    </div>
    <section>
        <form class="formulario" action="" method="POST">
            {% csrf_token %}
            
            <label for="estadoAudio"><strong>Nuevo Estado Audio:</strong></label>
            <input class="campo-input" type="text" name="estadoAudio" id="estadoAudio">
            <input class="boton-comun enviar" type="submit">
            
        </form>
    </section>
</div>


{% endblock %}