{% extends 'base_principal.html' %}
{% load static %}

{% block titulo %}CIG | Editar{% endblock %}

{% block bloque-main %}

<div class="cont-config-edit">
    <div class="titulo">
        <h2>Configuración | Editar codigo C.I.G.</h2>
    </div>
    <section>
        <form class="formulario" action="" method="POST">
            {% csrf_token %}
            {% if item %}
            <label for="codigo"><strong>Editar Código:</strong></label>
            <input class="campo-input" type="text" name="codigo" id="codigo" value="{{item.codigo}}">
            <input class="boton-comun enviar" type="submit">
            {% endif %}
        </form>
    </section>
</div>


{% endblock %}