{% extends 'base_principal.html' %}
{% load static %}

{% block titulo %}Audio | Editar motivo{% endblock %}

{% block bloque-main %}

<div class="cont-config-edit">
    <div class="titulo">
        <h2>Configuración | Editar motivo Audio</h2>
    </div>
    <section>
        <form class="formulario" action="" method="POST">
            {% csrf_token %}
            {% if item %}
            <label for="motivoAudio"><strong>Editar Motvio Audio:</strong></label>
            <input class="campo-input" type="text" name="motivoAudio" id="motivoAudio" value="{{item.motivoAudio}}">
            <input class="boton-comun enviar" type="submit">
            {% endif %}
        </form>
    </section>
</div>


{% endblock %}