{% extends 'base_principal.html' %}
{% load static %}

{% block titulo %}Configuracion{% endblock %}

{% block bloque-main %}

            <div class="headerMain">

            </div>
            <table class="contTabla">
                <thead class="thead">
                    <tr>
                        <th>#Orden</th>
                        <th>F.Envio</th>
                        <th>F.Recepción</th>
                        <th>F.Revisión</th>
                        <th>F.Finalización</th>
                        <th>F.Devolución</th>
                        <th>Estado</th>
                        <th>C.Seguimiento</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>45888</td>
                        <td>14/11/2022</td>
                        <td>15/11/2022</td>
                        <td>16/11/2022</td>
                        <td>17/11/2022</td>
                        <td>18/11/2022</td>
                        <td class="tdEstado"><div class="estado"></div></td>
                        <td> SD 755998658</td>                        
                        <td><span></span></td>
                    </tr>

                </tbody>

            </table>
        {% endblock %}