<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Garantías 2023</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Ordenes/css/style.css' %}">
</head>

<body>
    <header>

    </header>
    <main>
        <aside>
            <div class="cont-main-side">
                <ul>
                    <li><a href="#"><span class="cont-menu"><img src="" alt=""></span><span>SRG</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="img/dashboard.svg" alt=""></span><span>Dashboard</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="img/ordenes.svg" alt=""></span><span>Ordenes</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="img/usuarios.svg" alt=""></span><span>Usuarios</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="img/settings.svg" alt=""></span><span>Configuracion</span></a></li>
                    <li class="nav-men"><a class="cont-menu" href="#"><span class="span1"><img class="side-menu-icon"
                                    src="img/stock.svg" alt=""></span><span>Stock</span></a></li>
    
                </ul>
            </div>
        </aside>
        <section class="contPrincipal" id="contPrincipal">
            <div class="headerMain">

            </div>
            <table class="contTabla">
                <thead class="thead">
                    <tr>
                        <th>#Orden</th>
                        <th>F.Envio</th>
                        <th>F.Recepción</th>
                        <th>F.Revisión</th>
                        <th>F.Finalización</th>
                        <th>F.Devolución</th>
                        <th>Estado</th>
                        <th>C.Seguimiento</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>45888</td>
                        <td>14/11/2022</td>
                        <td>15/11/2022</td>
                        <td>16/11/2022</td>
                        <td>17/11/2022</td>
                        <td>18/11/2022</td>
                        <td class="tdEstado"><div class="estado"></div></td>
                        <td> SD 755998658</td>                        
                        <td><span></span></td>
                    </tr>

                </tbody>

            </table>
        </section>
    </main>
    <footer>

    </footer>

    <script src="js/main.js"></script>
</body>

</html>