{% extends 'base_principal.html' %}
{% load static %}

{% block bloque-main %}

<div class="cont-config-edit">
    <table class="table table-hover tabla-personalizada">
      <thead class="redondeada">
        <tr class=" table table-secondary">
          <th scope="col">Usuario</th>
          <th scope="col">Cliente</th>
          <th scope="col">mail</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        {% for n in usuarios %}
        <tr>
          <th scope="row">{{n.usuario}}</th>
          <td>{{n.nombre}}</td>
          <td>{{n.mail}}</td>
          <td>{{n.clave}}</td>
          <td><a href="{% url 'del_item_alarma_producto' n.id %}"><img class="side-menu-icon bordeaux" src="{% static 'Ordenes/img/trash.svg' %}"
            alt="imagen"></a><a href="{% url 'edit_item_alarma_producto' n.id %}"><img class="side-menu-icon oscuro" src="{% static 'Ordenes/img/edit.svg' %}"
              alt="imagen"></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>

{% endblock %}